@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container{
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    font-family: 'Montserrat', sans-serif;
}

input{
    margin: 2rem 0rem;
    padding: .4rem;
}

button{
    padding: .5rem;
}

#message{
    margin-top: 1rem;
    font-weight: bold;
}